body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    text-align: center;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem 0;
}

h1, h2 {
    color: #333;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
    text-align: center;
    width: 80%;
    max-width: 600px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Кнопка, створена самостійно */
.btn-custom {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    background-color: #009879;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn-custom:hover {
    background-color: #007f67;
}

/* Кнопка з генератора кнопок */
.btn-generated {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    background-color: #ff6347;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    box-shadow: 0 4px #c03e30;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.btn-generated:hover {
    background-color: #e5533c;
    box-shadow: 0 2px #c03e30;
}

/* Кнопка з готового набору кнопок */
.btn-ready-made {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    color: #333;
    background-color: #f9f9f9;
    border: 2px solid #333;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-ready-made:hover {
    background-color: #333;
    color: white;
}
